<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Gestion Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Gérer votre budget !</h1>

    <p>Connecté en tant que : <b>{{ user["name"] }}</b></p>

    <div class="table-container">
        <h2>Vos entrées de budget</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Montant</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>
                    <td>{{ entry.id }}</td>
                    <td>{{ entry.name }}</td>
                    <td>{{ entry.amount }}</td>
                    <td>{{ entry.category }}</td>
                    <td>
                        {% if 'admin' in user["roles"] %}
                            <a href="/edit/{{ entry.id }}" class="btn btn-primary">Modifier</a> |
                            <a href="/delete/{{ entry.id }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette entrée ?');">Supprimer</a>
                        {% else %}
                            <span>Lecture seule</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Ajout d'une nouvelle entrée -->
    {% if 'admin' in user["roles"] %}
    <div class="file-actions">
        <a href="/add" class="btn btn-success">Ajouter une nouvelle entrée</a>
    </div>
    {% endif %}


    <!-- Formulaire d'import / export CSV -->
    <div class="file-actions">
        {% if 'admin' in user["roles"] %}
        <form method="POST" action="{{ url_for('web.import_csv') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}  <!-- Token CSRF pour la sécurité -->

            {{ form.file.label }}
            {{ form.file(class="form-control") }}  <!-- Champ de sélection du fichier -->
            {{ form.submit(class="btn btn-primary") }} <!-- remplace le button-->
        </form>
        {% endif %}
        <br>
        <!-- Export CSV visible pour tout le monde -->
        <a href="{{ url_for('web.export_csv') }}" class="btn btn-primary">Exporter en CSV</a>
    </div>

</body>
</html>
