<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier l'entrée</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Modifier une entrée</h1>
        <form method="POST">
            {{ form.hidden_tag() }}  <!-- Token CSRF pour la sécurité -->
            
            {{ form.name.label }}
            {{ form.name(class="form-control") }}  <!-- Champ de texte pour le nom -->
            
            {{ form.amount.label }}
            {{ form.amount(class="form-control") }}  <!-- Champ de nombre pour le montant -->
            
            {{ form.category.label }}
            {{ form.category(class="form-control") }}  <!-- Champ de texte pour la catégorie -->
            
            <input type="submit" value="Mettre à jour">
        </form>
        <a href="/" class="btn btn-primary">Retour</a>
    </div>
</body>
</html>